<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">/var/www/html/wp-content/plugins/tm_wp_plugin</directory>
		<exclude>
			<directory suffix=".php">/var/www/html/wp-content/plugins/tm_wp_plugin/vendor</directory>
			<directory suffix=".php">/var/www/html/wp-content/plugins/tm_wp_plugin/tests</directory>
		</exclude>
  </whitelist>
</filter>
</phpunit>
