.column-title { width:15% !important; overflow:hidden }
.column-date { display:none !important; }
.column-tm_fixture_team { width:10% !important; overflow:hidden }
.column-tm_fixture_competition { width:15% !important; overflow:hidden }
.column-tm_fixture_homeaway { width:6% !important; overflow:hidden }
.column-tm_fixture_scorefor { width:4% !important; overflow:hidden }
.column-tm_fixture_scoreagainst { width:4% !important; overflow:hidden }
.column-tm_fixture_opposition { width:15% !important; overflow:hidden }
